{% extends 'base.html' %}


{% block content %} 
<main class="container py-5">

    <section class="card card-body">
        <h1 class="display-1 text-center">Home</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem minima dolor quam illum. Aperiam est illo vel veniam consectetur asperiores saepe repellat.</p>
     <div class="text-center">
        <a class="btn btn-secondary" href="/signin/">
            Signin
        </a>
        <a class="btn btn-dark" href="/signup/">
            Signup
        </a>
     </div>
    </section>
</main>
{% endblock %}